{% extends "layout.html" %}

{% block title %}
    Log in
{% endblock %}
{% block main %}
    <h4 class="heading1">Find <i class="bi bi-search"></i>  your account</h4>
    <div class="form-floating form">
        <form action="/login" method="post">
            <!-- alerts -->
            <h5 class="error">{{ error }}</h5>
            <!--  username -->
            <div class="mb-3">
            <input type="text" class="form-control" id="exampleInputName1" aria-describedby="nameHelp" placeholder="Enter your name" autocomplete="off" name="name" required>
            </div>

            <!-- password -->
            <div class="mb-3">
            <input type="password" class="form-control" id="exampleInputPassword1 password" pattern="(?=.*\d).{8,}" placeholder="Enter your password" autocomplete="off" name="password" required>
            </div>

            <!-- blood type -->
            <div class="mb-3">
                <select class="form-select" aria-label="Default select example" autocomplete="off" name="bgroup" required>
                    <option value="">Choose Blood Type</option>
                    {% for x in BGROUP %}
                        <option value="{{ x }}"> {{ x }}
                    {% endfor %}
                </select>
            </div>

            <button type="submit" class="btn btn-primary mainbutton">Log in<i class="bi bi-hand-index-thumb"></i>
            </button>
        </form>
    </div>
    <a href="/forget" class="hyperlink1">Forgot password?</a>

{% endblock %}